.infoContent {
    width: 140.2px;
    height: 53px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
    margin: 0 0 0 30px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.mainBoxDiv {
    display: flex;
    margin-left: 40px;
    margin-top: -30px;
}

.boxContent {
    justify-content: space-around;
    flex-direction: row;
}

.boxContentData {
    outline: #ebebeb solid 1px;
    max-width: 23%;
    padding: 24px 0 41px 30px;
    width: 100%;
    height: 270px;
    margin-left: 30px;
    border-radius: 5px;
    margin-top: 50px;
    position: relative;
    cursor: pointer;
    border-top: 9px solid transparent;
}

.boxContentData:hover {
    box-shadow: 0px 3px 17px 0px gainsboro;
    border-top: 5px solid red;
    color: red;
}

.floater {
    position: sticky;
}
.mainSubscription {
    margin-left: 40px;
    margin-top: -30px;
    margin-bottom: 30px;
}

.subscription {
    justify-content: space-around;
    display: flex;
}

.subscriptionData {
    flex-direction: column;
    outline: #ebebeb solid 1px;
    max-width: 23%;
    padding: 24px 30px 41px 30px;
    width: 300px;
    height: 480px;
    margin-left: 30px;
    border-radius: 5px;
    margin-top: 50px;
    position: relative;
    cursor: pointer;
    border-top: 9px solid transparent;
}
.planButton{
    width: 203px;
    height: 47.6px;
    margin: 6px 0 0 15px;
    padding: 12.7px 50px 13.9px 51px;
    background-color: #03002f;
    opacity: .8;
    font-family: Roboto-Medium;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
}
.research-report-block{
    background-color: #03002f;
    margin: 0px;
    height: 400px;
    padding-top: 60px;
    margin-bottom: 80px;
}
.research-image-block{
    padding-right: 200px;
    padding-left: 200px;
    margin-right: auto;
    margin-left: auto;
}
.research-image{
    float: left;
}
.research-text{
    padding-top: 70px;
    /* max-width: 100px; */
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 80px;
    margin-left: 100px;  
    /* padding-bottom:1000px ; */
    /* margin-bottom: 100px; */
    padding-left: 300px;
    /* max-width: 300px; */
}
.research-text-inner{
    margin-top: 20px;
    padding-right: 70px;
    font-size: 10px;
}
.get-started{
    padding: 70px 0 0 400px; 
    background-color: #03002f;
    height: 400px;
    align-items: center;
    align-content: center;
}
.get-started-text{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 80px;
    text-align: center;
    /* margin-right: 375px; */
}
.get-started-inner{
    color: gray;
    font-size: 15px;
}
.get-started-btn{
    text-align: center;
    padding: 20px 0px;
    background-color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 1;
    font-family: Helvetica;
    outline: 0;
    border: 0;
    display: inline-block;
    color: #03002f;
    box-shadow: none;
    margin: 30px 0 50px 0px;
    width: 100%;
    max-width: 230px;
    border-radius: 35px;
}
.get-started-btn:hover{
    box-shadow: 0px 0px 30px 3px white;
}
.partner-text{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}
.partner-img{
    width: 200px;
}
/* .svg
{
/
} */
