.searchBox {
    border-radius: 20px;
    background-color: #343150;
    border-color: #343150;
    width: 300px;
    height: 30px;
    margin-top: 5px;
    padding-left: 30px;
}

.mainNavCss {
    background-color: #03002f;
}

.navList {
    color: rgba(255, 255, 255, 0.7);
}

.openAccount{
    width: 150px;
    height: 30px;
    background-color: red;
    color: white;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 10px;
    margin-top: 5px;
}
.openAccount:hover{
    border: 2px solid white;
    background-color: #03002f;
    color:white;
    transition: 2s;
}
.login{
    width: 100px;
    height: 30px;
    color: white;
    border: 2px solid white;
    text-align: center;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 5px;
}
.login:hover{
    border: 2px solid transparent;
    background-color: red;
    transition: 2s;
}
a{
    text-decoration: none;
    color: white;
    /* width: 20px; */
}