.mainNavCss {
    background-color: #03002f;
}
.openAccount{
    width: 150px;
    height: 30px;
    background-color: red;
    text-decoration: none;
    color: white;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 10px;
    margin-top: -4px;
    margin-left: -40px;
    padding-top: 1.5px;
}
.openAccount:hover{
    border: 2px solid white;
    background-color: #03002f;
    color:white;
    transition: 2s;
}
.login{
    width: 100px;
    height: 30px;
    color: white;
    border: 2px solid white;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: -25px;
    /* padding-top: 1.5px; */
}
.login:hover{
    border: 2px solid transparent;
    background-color: red;
    transition: 2s;
}
.mainNavCss a{
    text-decoration: none;
    color: white;
    /* width: 20px; */
}
.logout,.logout1{
    width: 100px;
    height: 30px;
    color: white;
    border: 2px solid white;
    text-align: center;
    border-radius: 10px;
    margin-left: 5px;
    padding-top: 1.5px;
    margin-top: -2px;
}
.logout:hover,.logout1:hover{
    border: 2px solid transparent;
    background-color: red;
    transition: 2s;
}
.mainNavCss ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .mainNavCss li {
    margin-right: 20px;
  }
  
  .mainNavCssav li.dropdown {
    position: relative;
  }
  
  .mainNavCss li.dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .mainNavCss a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    margin-left: -4px;
    margin-top: 5px;
  }
  
  .mainNavCss .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    height: 200px;
    width:400px;
    background-color: white;
    border: 1px solid gray;
    padding: 10px;
  }
  table{
    width: 40px;
  }
.mainNavCss .nav-link:hover
{
    color: red;
}
li .dropdown1 {
  display: block;
  position: absolute;
  top: 55px;
  left: 54.5%;
  z-index: 1;
  background-color: white;
  color: #03002f;
  width: 280px;
  border-radius: 5px;
}

li:hover .dropdown1 {
  display: block;
}
.s{
  position: relative;
  height: 40px;
  width: 40px;
  background-color: white;
  color: white;
  display: inline-block;
  right: 40px;
  border-radius: 20px;
  margin-top: 5px;
}
.searchBox {
  border-radius: 20px;
  background-color: #343150;
  border-color: #343150;
  color: aliceblue;
  width: 300px;
  height: 30px;
  margin-top: 10px;
  margin-left: -5px;
  padding-left: 30px;
}

